@import url('https://fonts.googleapis.com/css2?family=Borel&family=DM+Sans:opsz,wght@9..40,100;9..40,300;9..40,400;9..40,500&display=swap');

* {
  margin: 0;
  padding: 0;
}

#welcome-header {
  font-family: Borel;
  font-size: 60px;
}

.welcome-subheader {
  font-family: DM Sans;
  font-weight: 300;
  font-size: 20px;
}

.emphasize-text {
  color: #7ea8dc;
}

.welcome-button {
  font-family: DM Sans;
  font-weight: 300;
  font-size: 17px;
}

.welcome-button:hover {
  background: #0d1934;
  border: none;
  color: #ffff;
  box-shadow: 0 0 20px #ffff;
}

/* Login */
.fade-in-text {
  animation: fadeIn 4s;
}

.login-main-container {
  font-family: DM Sans;
  /* background: linear-gradient(#31487d, #7ea8dc); */
  background: url('./images/login-background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.register-main-container {
  font-family: DM Sans;
  background: url('./images/register-background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  padding-top: 20px;
}

.login-left-container, .register-left {
  background-repeat: no-repeat;
  color: #ffff;
  left: 0;
  height: 100vh;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-right-container, .register-right {
  right: 0;
  background: #ffff;
}

.login, .register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.login-input, .register-input {
  border: none;
  outline: none;
  width: 15em;
  border-bottom: 1px solid #ccc;
}

.sign-in-button {
  background-color: #31487d;
  color: white;
}

.sign-in-button:hover {
  color: white;
  background-color: #31487d;
  box-shadow: 0 0 10px #31487d;
}

.login-reg-header {
  font-size: "55px";
  font-weight: "500";
}

.signup-btn {
  background: rgb(139, 139, 208);
  color: white;
}

.signup-btn:hover {
  box-shadow: 0 0 15px rgb(139, 139, 208);
  color: black;
  background: #fff;
}
/* Home */

.welcome-page-container {
  background: rgb(30, 30, 87);
  height: 100vh;
  width: 100%;
  background: url('../src/images/welcomepage-bg.avif') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-background{
  height: 250vh;
  width: 100vw;
  background: linear-gradient(#0d1934, #7ea8dc);
}

.home-container {
  margin: 0 5em;
}

.home-nav {
  justify-content: space-between;
}

.logout:hover {
  background-color: #0d1934;
  color: white;
  box-shadow: 0 0 12px #ffff;
  border: none;
}

.main-body {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* HomePage Section */

.logo-header {
  color: white;
  font-family: Borel;
  font-size: 40px;
}

.logo-header:hover {
  color: #fff;
}

.add-item {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.add-item:hover {
  color: #ffff;
}

.add-item:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.add-item:hover:after { 
  width: 100%; 
  left: 0; 
}

.category-btn {
  background-color: #4e5a77;
  display: flex;
  align-items: center;
  color: #fff;
}

.category-btn:hover {
  box-shadow: 0 0 15px #ffffff;
  background-color: #fff;
  color: black;
}

.category-container:hover {
  box-shadow: 0 0 15px #fff;
}

.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffff;
  height: 150px;
  width: 200px;
  font-family: DM Sans;
  cursor: pointer;
}

.list-item-container {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgb(72, 139, 184);
  height: 8em;
}

li {
  list-style: none;
}

.list-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list {
  padding: 25px;
}

.item-label {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 20px;
}

.action-container {
  width: 5em;
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  align-items: center;
}

.action-icon {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.list-body {
  margin: 0 6em;
}

/* New Item Page */
.new-item-container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(#0d1934, #7ea8dc);
}

.form-container {
  border: 2px solid rgb(162, 161, 161);
  box-shadow: 0px 0px 13px lightgray;
  border-radius: 20px;
  padding: 30px;
  margin: 0px 20em;
  background: #ffff;
  font-family: DM Sans;
}

.nav-home-btn:hover {
  background: #ffffff;
  box-shadow: 0 0 12px #fff;
}

form > h1 {
  font-weight: 500;
}

/* Edit Page */
.edit-page-container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(#31487d, #a0afc2);

}

/* category page */

.category-home-btn {
  text-decoration: none;
  color: rgb(4, 4, 4);
  border: 2px solid #000;
  border-radius: 0;
  height: 40px;
  width: 9em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-item-container-category {
  /* border-radius: 10px; */
  background-color: #fff;
  box-shadow: 0px 0px 15px rgb(185, 196, 204);
  height: 8em;
  width: 70em;
}

.category-subheader {
  border-bottom: 2px solid #dfdcdb;
  margin-bottom: 1em;
}

.category-sidebar-container {
  width: 14em;
}

.category-sidebar-list {
  font-weight: 400;
}

.category-sidebar-list:hover {
  font-weight: 600;
}